label {
  margin-top: 10px;
}
.error {
  border: 1px solid #e60000;
  box-shadow: 0 0 4px #e60000;
}
.btn {
  margin-bottom: 10px;
}
.jumbotron {
  margin-top: 10px;
  color: white;
  background: url(img/tasky_pattern.png);
}
table {
  margin-top: 10px;
  vertical-align: middle;
}
.table-header {
  font-size: 24px;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
